.home-container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.home-container h2 {
  margin-bottom: 20px;
  text-align: center;
}


.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.filters input,
.filters select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  min-width: 200px;
}


.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.job-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
}

.job-card h3 {
  margin-bottom: 10px;
  color: #2a5298;
}

.job-card p {
  margin: 5px 0;
}

mark {
  background-color: yellow;
  padding: 2px 4px;
}


@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters input,
  .filters select {
    width: 100%;
  }
}
